// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Roboto:wght@300;400&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Domine', serif;
}

.wrapper, body {
	background-color: $gray;
	padding: 0;
}


.container {
	background-color: #fff;
	padding: 50px 80px;
}


//header 

.logo {
	display: block;
	margin: 0 auto;
}

.nav-container {
	padding: 0;
}

#wrapper-navbar {
	background-color: $gold;
}

#navbarNavDropdown {
	background-color: $gold;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
}

//single lesson *************************
.header-focus ul {
	margin: 50px 0 50px 0;
	padding: 0;
}

.header-focus li {
  display: inline;
  margin-right: 10px;
  padding: 10px 10px 10px 20px;
 clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 15% 100%, 0% 50%, 15% 0);
  background-color: #efefef;
}

.no-pad {
	padding: 0;
}

.header-box {
	width: 40%;
	display: inline-block;
	margin-top: 30px;
	text-align: center;	
}

.header-box:first-of-type{
	border-right: 2px solid #efefef;
}

.big-number {
	font-weight: 700;
	font-size: 5em;
	color: $gray;
	line-height: 1;	
}

#single-lesson-wrapper h2 {
	border-bottom: 1px solid $gray;
}

.holder {
	margin: 20px 0 40px 0;
}

.total-time {
	font-size: 1.2em;
}

//footer
#wrapper-footer {
	background-color: #000;
	padding-top: 80px;
	color: #fff;
}

#wrapper-footer .container {
	background-color: #000;
	padding: 50px 10px;
}

#wrapper-footer .container a{
	color: $gold;
}

#wrapper-footer a, caption {
	color: #fff;
}